# Configuración Microsoft Entra ID (SSO)
VITE_AZURE_CLIENT_ID=

# Ej: https://login.microsoftonline.com/{TENANT_ID}
VITE_AZURE_AUTHORITY=

# Ej: http://localhost:5173
VITE_AZURE_REDIRECT_URI=
VITE_AZURE_SCOPE=User.Read

# Roles (Object ID del grupo o valor del rol en Azure AD)
# Si el usuario pertenece a este grupo/rol -> Super Administrador
VITE_SUPER_ADMIN_ROLE_ID=
# Si el usuario pertenece a este grupo/rol -> Administrador de Sucursal
VITE_BRANCH_ADMIN_ROLE_ID=